<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if(products.length !== 0) { %>
                <ul>
                    <% for(let item of products) { %>
                        <li>item Title: <%= item.product.title %> (Quantity: <%= item.quantity %>)</li>
                        <li>item Price: $<%= (item.product.price * item.quantity).toFixed(2) %></li>
                        <form action="/cart-delete-product" method="post">
                            <input type="hidden" name="productID" value="<%= item.product._id %>">
                            <button type="submit" class="btn">Delete Item</button>
                        </form>
                        <br /><br />
                    <% } %>
                </ul>
                <br />
                <div>Total Price: $<%= totalPrice %></div>
                <div class="centered">
                    <form action="/create-order" method="post">
                        <button class="btn" type="submit">Order Now</button>
                    </form>
                </div>
            <% } else { %>
                <h1>There is no product in your cart!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>