<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <h1><%= pageTitle %></h1>
            <% if(orders.length > 0) { %>
                <ul>
                    <% orders.forEach((order) => { %>
                        <h2>Order ID: <%= order._id %></h2>
                        <% order.items.forEach((item) => { %>
                            <li><%= item.product.title %> (<%= item.quantity %>)</li>
                        <% }); %>
                        <p>Oreder total price: $<%= order.totalPrice %></p>
                        <a class="btn" href="/orders/<%= order._id %>" target="_blank">Order's Invoice</a>
                    <% }) %>
                </ul>
            <% } else { %>
                <p>Nothing There!</p>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>